[defaults]
inventory = ./inventory
roles_path = ./roles
playbook_path = ./playbooks

collections_path = ./galaxy

fact_caching = jsonfile
fact_caching_connection = ./.facts_cache

callback_enabled = true
internal_poll_interval = 0.001

interpreter_python = /usr/bin/python3
deprecation_warnings = True
vars_plugins_enabled = host_group_vars

[inventory]
unparsed_is_failed = true

[ssh_connection]
scp_if_ssh = smart
transfer_method = smart
retries = 3
timeout = 10
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o Compression=yes -o ServerAliveInterval=15s
pipelining = True
control_path = %(directory)s/%%h-%%r
